* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
  }

  .clearfix::after {
      content: "";
      display: table;
      clear: both;
  }

.container{
    width: 80vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
img{
    width: 20vw;
    height: 500px;
    margin-top: 20%;
}
h1{
    margin: 20px 0;
    text-transform: uppercase;
    font-size: 4rem;
}

ul{
    text-align: center;
    list-style-type: none;
}
.frizzi-pazzi{
    color: orange;
    font-size: 2rem;
    font-weight: bold;
}
.frizzi{
    color: green;
    font-size: 2rem;
    font-weight: bold;
}

.pazzi{
    color: red;
    font-size: 2rem;
    font-weight: bold;
}

.nofrizzi-nopazzi{
    color: navy;
    font-weight: bold;
    font-size: 23px;
}
